extends layout

block content
  h1= title
  -var r = results
  
  div(class="container-fluid")
  div(class="row")
   each b,index  in results
    div(class="col-sm-2" onclick =`buy(${index})`)   Breed : #{b.breed},Color : #{b.color},price : #{b.price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        } 


  
    

       